@import url(header.css);
@import url(projects.css);
@import url(competencies.css);
@import url(services.css);
@import url(contacts.css);
@import url(footer.css);
@import url(burger.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  background-color: black;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

.header-inner,
.project-inner,
.competencies-inner,
.services-inner {
  margin-bottom: 150px;
}

.contacts-inner {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
p,
a,
div,
button {
  letter-spacing: -0.03em;
}

button {
  font-family: "Philosopher", sans-serif;
}

@media (max-width: 1149px) {
  .container {
    width: 100%;
    padding-left: 13px;
    padding-right: 15px;
  }

  .services-inner {
    margin-bottom: 110px;
  }
}

@media (max-width: 768px) {
  .header-inner,
  .project-inner,
  .competencies-inner,
  .services-inner {
    margin-bottom: 100px;
  }
}
